@import 'utils/breakpoints';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--generalSans);
  font-weight: 600;
  max-width: 100%;
  padding: 1.5rem;
}

.primary {
  background: var(--black);
  color: var(--white);
}

.secondary {
  background: var(--gray-10);
  color: var(--black);
}

.outlined {
  border: 2px solid var(--black);
}

.transparent {
  background-color: transparent;
  color: var(--black);
  border: 2px solid var(--black);
}
