@import 'utils/breakpoints';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--generalSans);
  font-weight: 600;
  min-width: 200px;
  max-width: 100%;
  padding: 1rem 3.5rem;

  @include media('<=tablet') {
    width: 100%;
  }
}

.primary {
  border: 2px solid var(--black);
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--black);
}

.secondary {
  background: var(--gray-10);
  color: var(--black);
  border: 2px solid var(--gray-10);
}

.outlined {
  border: 2px solid var(--black);
}

.transparent {
  background-color: transparent;
  color: var(--black);
  border: 2px solid var(--black);
}

.disabled {
  background: var(--gray-10);
  color: var(--gray-40);
  cursor: not-allowed;
}

.full_width {
  width: 100%;
}
