@import 'utils/breakpoints';

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pastel-green);
  color: var(--black);
  font-family: var(--generalSans);

  .container {
    // width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.6rem 1.5rem;
    // min-height: 100vh;
    // border: 2px solid black;

    @include media('<=tablet') {
      display: block;
      padding-inline: 1.5rem;
      width: 100vw;
    }

    .qa {
      font-size: 1.125rem;
      margin-bottom: 0.25rem;
      align-self: flex-start;

      @include media('<=tablet') {
        font-size: 1rem;
      }
    }

    .heading1 {
      align-self: flex-start;
      color: var(--gray-90);
      font-family: 'Geist', sans-serif;
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 70px;

      @include media('<=tablet') {
        font-size: 1.5rem;
        line-height: 32px;
      }
    }

    .heading2 {
      align-self: flex-start;
      color: var(--gray-60);
      font-family: 'Geist', sans-serif;
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 70px;
      margin-bottom: 1.5rem;

      @include media('<=tablet') {
        font-size: 1.5rem;
        line-height: 32px;
      }
    }

    .tabs {
      width: 100%;
      display: flex;
      gap: 5rem;

      @include media('<=tablet') {
        display: block;
      }

      .nav {
        margin-top: 5rem;

        @include media('<=tablet') {
          margin-top: 0rem;
        }

        .tablist {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          gap: 1rem;
          white-space: nowrap;
          overflow-x: auto;
          &::-webkit-scrollbar {
            display: none;
          }

          @include media('<=tablet') {
            flex-direction: row;
          }

          & > button {
            display: flex;
            align-items: center;
            gap: 16px;
            background-color: transparent;
            border: inherit;
            color: var(--gray-40);
            cursor: pointer;
            font-family: var(--generalSans);
            font-weight: 500;

            &.active {
              color: var(--black);
            }
          }
        }
      }

      .tabheading {
        color: var(--gray-90);
        font-family: 'Geist', sans-serif;
        font-size: 1.75rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .accordionlist {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 15px;
        max-height: 33.5rem;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 10px;
          background: var(--white);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--gray-80);
          border-radius: 10px;
        }

        @include media('<=tablet') {
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
