@import 'utils/breakpoints';
@import 'utils/mixins';

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: var(--black);
  background-color: var(--cream);
  background-image: url('/backgrounds/hero-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include media('<=phone') {
    min-height: none;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 1rem 0px;

    @include media('<=tablet') {
      padding: 2.5rem 1.5rem;
    }

    .headernav {
      width: 100%;
      @include flex-centered;
    }

    .careercursor {
      display: flex;
      align-items: center;
      gap: 5px;

      .careercursortext {
        padding: 0.5em 1em;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
      }

      &--productmanager {
        position: absolute;
        top: 19%;
        left: 8%;

        .careercursortext {
          color: #f9ab00;
          background-color: #fde293;
        }
      }

      &--productdesigner {
        position: absolute;
        top: 21%;
        right: 8%;

        .careercursortext {
          color: #ea4335;
          background-color: #f8d8d8;
        }
      }

      &--softwareengineer {
        position: absolute;
        bottom: 40%;
        left: 8%;

        .careercursortext {
          color: #34a853;
          background-color: rgba(137, 240, 6, 0.12);
        }
      }

      &--dataanalyst {
        position: absolute;
        bottom: 38%;
        right: 8%;

        .careercursortext {
          color: #4285f4;
          background-color: #c3ecf6;
        }
      }
    }

    .herocontent {
      @include flex-centered;
      flex-direction: column;
      margin-bottom: 6rem;
      text-align: center;

      @include media('<=tablet') {
        margin-bottom: 0rem;
        padding-block: 2.5rem 0rem;
      }

      .landingPageCtaParagraph {
        margin-bottom: 1rem;

        @include media('<=tablet') {
          margin-bottom: none;
        }

        p {
          font-family: var(--generalSans);
          font-size: 1.375rem;

          @include media('<=tablet') {
            font-size: 1rem;
          }
        }
      }

      .landingPageCtaHeader {
        margin-bottom: 1rem;

        h1 {
          font-size: 3.875rem;
          font-weight: 700;

          @include media('<=tablet') {
            font-size: 2.5rem;
          }
        }
      }

      .landingPageCtaButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        border: inherit;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        font-family: var(--generalSans);
        font-weight: 600;
        max-width: 100%;
        padding: 1.5rem 3.5rem;
        background: var(--black);
        color: var(--white);
        scale: 0;

        .landingPageCtaButtonText {
          display: inline-block;
        }

        @include media('<=tablet') {
          width: 100%;
        }
      }
    }

    .ticketWrapper {
      bottom: 0;
      height: 300px;

      .ticket {
        width: 60%;
        height: 100%;
        aspect-ratio: 939.5/444.17;

        @include media('<=625px') {
          width: 80% !important;
        }
      }

      .one {
        position: absolute;
        bottom: -90%;
        right: 30%;
        transform: rotate(90deg);

        .ticketImage {
          width: 85% !important;
        }
      }

      .middle {
        position: absolute;
        bottom: -100%;
        left: 19%;
        z-index: 10;
        transform: rotate(90deg);

        @include media('<=625px') {
          left: 10%;
        }

        .ticketImage {
          width: 95% !important;
        }
      }

      .two {
        position: absolute;
        bottom: -90%;
        left: 30%;
        z-index: 2;
        transform: rotate(90deg);

        @include media('<=625px') {
          bottom: -50%;
          left: 50%;
        }
      }
    }
  }
}
