@import 'utils/breakpoints';
@import 'utils/mixins';

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: var(--black);
  background-color: var(--cream);
  background-image: url('/backgrounds/hero-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include media('<=phone') {
    min-height: none;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 1rem 0px;

    @include media('<=tablet') {
      padding: 2.5rem 1.5rem;
    }

    .headernav {
      width: 100%;
      @include flex-centered;

      .upgradeTicketText {
        display: flex;
        align-items: end;
        animation: upgradeTicket 1000ms cubic-bezier(0.48, 0, 0, 1) 417ms forwards;
      }

      // Rework this animation implementation

      @keyframes upgradeTicket {
        0% {
          height: 200px;
        }
        100% {
          height: 20px;
        }
      }
    }

    .uppercursors {
      svg:nth-child(1) {
        position: absolute;
        top: 23%;
        left: 10%;
      }

      svg:nth-child(2) {
        position: absolute;
        top: 21%;
        right: 8%;
      }
    }

    .lowercursors {
      svg:nth-child(1) {
        position: absolute;
        bottom: 42%;
        left: 10%;
      }

      svg:nth-child(2) {
        position: absolute;
        bottom: 40%;
        right: 8%;
      }
    }

    .herocontent {
      @include flex-centered;
      flex-direction: column;
      margin-bottom: 6rem;
      text-align: center;

      @include media('<=tablet') {
        margin-bottom: 0rem;
        padding-block: 2.5rem 0rem;
      }

      p {
        font-family: var(--generalSans);
        font-size: 1.375rem;
        margin-bottom: 1rem;

        @include media('<=tablet') {
          font-size: 1rem;
          margin-bottom: none;
        }
      }

      h1 {
        font-size: 3.875rem;
        font-size: 700;
        margin-bottom: 1rem;

        @include media('<=tablet') {
          font-size: 2.5rem;
        }
      }
    }

    .ticketWrapper {
      bottom: 0;
      height: 300px;

      .ticket {
        width: 60%;
        height: 100%;
        aspect-ratio: 939.5/444.17;

        @include media('<=625px') {
          width: 80% !important;
        }
      }

      .one {
        position: absolute;
        bottom: -51%;
        right: 49%;
        transform: rotate(63.67deg);
      }

      .two {
        position: absolute;
        bottom: -51%;
        left: 49%;
        transform: rotate(120deg);

        @include media('<=625px') {
          bottom: -50%;
          left: 50%;
        }
      }

      .middle {
        position: absolute;
        bottom: -38%;
        left: 19%;
        transform: rotate(90deg);
        z-index: 10;

        @include media('<=625px') {
          left: 10%;
        }
      }
    }
  }
}
