@import 'utils/breakpoints';

.claim__tickets {
  width: 100%;
  height: 100vh;
  padding: 0.5rem 1.5rem;

  @include media('<=tablet') {
    padding: 3rem 1rem;
  }

  .claim__tickets__container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    header {
      padding-inline: 0px;
    }

    .claim__tickets__content {
      padding-block: 2rem;
      display: flex;
      gap: 2.5rem;

      @include media('<=desktop') {
        margin: 0 auto;
        gap: 1.5rem;
      }

      @include media('<=tablet') {
        padding-block: 0rem;
        margin: 0.5rem;
      }

      .claim__tickets__banner {
        @include media('<=tablet') {
          display: none;
        }
      }

      .claim__tickets__form {
        width: 100%;
        padding-block: 1.5rem;

        @include media('<=tablet') {
          padding: 0px;
        }

        .claim__tickets__heading {
          margin-bottom: 2.5rem;
          h1 {
            font-weight: 500;
            margin-bottom: 0.5rem;
          }

          p {
            font-family: var(--generalSans);
          }
        }

        .registration__form {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          font-family: var(--generalSans);
        }
      }
    }
  }
}
