.selectfield {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--generalSans);

  label {
    display: flex;
    gap: 5px;
    font-weight: 500;

    span:nth-child(2) {
      color: var(--gray-60);
    }
  }

  .select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1rem;
    font-weight: 500;
    border: 0.5px solid var(--gray-60);
    border-radius: 8px;
    background-color: white;
    padding: 1rem 0.8rem;
  }

  .selectWrapper {
    position: relative;
  }

  .menuWrapper {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 100%;
    right: 0px;
    z-index: 10;
    border: 0.5px solid var(--gray-60);
    border-radius: 8px;
    max-height: 300px;
    overflow: auto;
    background-color: white;
    transform: translateY(0.25rem);

    input {
      width: 100%;
      font-size: 1rem;
      font-family: inherit;
      font-weight: 500;
      border: 0.5px solid var(--gray-60);
      border-radius: 8px;
      padding: 1rem 0.625rem;

      &:focus {
        outline: 0.5px solid var(--gray-60);
      }
    }

    .menuItem {
      padding: 1rem;
      background-color: white;

      &:hover {
        background-color: var(--cream);
        cursor: pointer;
      }
    }
  }

  .multi {
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .multiItem {
      padding: 2px 0.5rem;
      border-radius: 8px;
      display: flex;
      align-items: center;
      background-color: var(--pastel-blue);
      color: var(--gray-80);

      .pill {
        display: flex;
        align-items: center;
        margin-left: 4px;
        cursor: pointer;
      }
    }
  }
}
