@import 'utils/breakpoints';

.or_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_title {
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 24px;
    color: #1e1e1e;
    padding: 1em 0;
    border-bottom: 1px solid #b3b3b3;

    @include media('>=desktop') {
      font-size: 1.75rem;
      line-height: 36px;
      padding: 1.625rem 0;
    }
  }
}

.or_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 1rem 0;

  &_checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.inner_form {
  gap: 2rem;
}

.ticket_information {
  padding-block: 1rem;

  &_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1rem;
  }
}
