@import 'utils/breakpoints';

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--generalSans);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 100%;
}

.modal_container {
  background: #fff;
  position: relative;
  top: 3.5rem;
  width: 100%;
  height: 51rem;
  max-height: 95vh;
  transition: 0.3s all ease-in-out;

  @include media('>=tablet') {
    top: 2rem;
    border-radius: 0 0 32px 32px;
  }
}

.modal_header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  @include media('<=tablet') {
    position: unset;
    padding: 22px 22px 0;
  }
}

.top_pop {
  height: 60px;
  padding: 0 1.5rem;
  border-radius: 2rem 2rem 0px 0px;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;

  @include media('<=tablet') {
    padding: 0;
    height: unset;
  }
}

.cancel_text {
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  @include media('<=tablet') {
    &_name {
      display: none;
    }
  }
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.modal_content {
  max-height: 90vh;
  padding-bottom: 1.5rem;
  overflow-y: auto;

  @include media('>=tablet') {
    max-height: 85vh;
  }
}

// width
.w_md {
  max-width: 90%;

  @include media('>=desktop') {
    max-width: 600px;
  }
}

.w_full {
  max-width: 95%;

  @include media('>=tablet') {
    max-width: 90%;
  }

  @include media('>=desktop') {
    max-width: 1100px;
  }
}
