@import 'utils/breakpoints';

.values {
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--generalSans);
  background-image: url('../../../../public/devfest-target-audience-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.6rem 0;
  min-height: 100vh;
  min-width: 100vw;

  @include media('<=tablet') {
    background-image: none;
  }

  .topContent {
    width: 50%;
    margin: 0 auto 4em;

    .heading {
      color: var(--gray-90);
      font-family: 'Geist', sans-serif;
      font-size: 3.875rem;
      font-weight: 700;
      line-height: 77px;
      text-align: center;

      @include media('<=tablet') {
        font-size: 2rem;
        line-height: 40px;
        font-weight: 500;
      }
    }

    .paragraph {
      color: var(--gray-100);
      font-family: 'Geist', sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 24px;
      text-align: center;

      @include media('<=tablet') {
        font-size: 1rem;
      }
    }
  }

  .slider {
    max-width: 2000px;

    .slideItem {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
