[data-animate-sentences],
[data-animate-text] {
  > span {
    overflow: hidden;
    display: inline-flex;
  }

  span span {
    display: inline-flex;
  }
}

[data-animate-fadeIn],
[data-animate-scale],
[data-animate-sentences],
[data-animate-y-up],
[data-animate-fadeInLeft],
[data-animate-fadeInRight] {
  opacity: 0;
}
