@import 'utils/breakpoints';

.header {
  max-width: 75rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--generalSans);
  padding: 1.5rem;

  @include media('<tablet') {
    font-size: 0.75rem;
    gap: 20px;
    width: 100%;
  }

  nav {
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
