@import 'utils/breakpoints';

.main_container {
  background-color: #fffaeb;
  border: 2px solid #b3b3b3;
  border-radius: 16px;
  width: 100%;
  min-height: 400px;

  &_header {
    border-bottom: 1px solid #b3b3b3;
    padding: 26px 16px;
    color: #1e1e1e;
    font-size: 1.75rem;
    font-weight: 500;
  }

  &_body {
    padding: 36px 16px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    &_date {
      color: #1c1c1c;
      font-size: 16px;
      font-weight: 400;
    }

    &_list_group {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;

      &_item {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        color: #808080;

        &_one,
        &_two {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        span:first-child {
          color: #1c1c1c;
        }

        span:last-child {
          color: #1c1c1c;
          font-weight: 600;
          border: none;
        }
      }
    }
  }

  @include media('<=tablet') {
    border: 1.3px solid #b3b3b3;
    border-radius: 10.38px;
    min-height: 400px;

    &_header {
      border-bottom: 0.65px solid #b3b3b3;
      padding: 16px 10px;
      font-size: 1.15rem;
    }

    &_body {
      padding: 16px 10px;

      &_date {
        font-size: 0.75rem;
        margin-bottom: 6.5px;
      }

      &_list_group {
        gap: 1rem;

        &_item {
          padding-bottom: 1rem;
          border-bottom: 0.65px solid #cccccc;
          font-size: 0.875rem;

          &:last-child {
            font-size: 1rem;
            color: #1c1c1c;
          }
        }
      }
    }
  }
}
