.scaleItem {
  transform: scale(0);
  animation: scaleButton 1000ms cubic-bezier(0.43, 0, 0, 1) 167ms forwards;

  @keyframes scaleButton {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
