@import 'utils/breakpoints';

.t_container {
  &_header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #b3b3b3;

    &_title {
      font-weight: 500;
      font-size: 1.375rem;
      color: #1e1e1e;
    }

    &_detail {
      font-size: 0.875rem;
      color: #666666;
    }

    @include media('>=desktop') {
      &_title {
        font-size: 1.75rem;
      }

      &_detail {
        font-size: 1rem;
        line-height: 24px;
      }
    }
  }

  &_body {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &_box {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;

      &_title {
        font-weight: 600;
        font-size: 1.125rem;
        color: #1c1c1c;
      }

      &_detail {
        font-weight: 400;
        font-size: 0.875rem;
        color: #1c1c1c;
        line-height: 24px;
        // border: 2px solid black;
        width: 90%;
      }
    }

    @include media('>=desktop') {
      &_wrapper {
        flex-wrap: nowrap;

        &_detail {
          width: 50%;
          font-size: 1rem;
        }
      }
    }
  }
}

.input_wrapper {
  display: flex;
  gap: 10px;

  @include media('>=desktop') {
    margin-left: auto;
  }
}
