@import 'utils/breakpoints';

.purchase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pastel-yellow);
  color: var(--black);
  font-family: var(--generalSans);

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5.6rem 1.5rem;

    @include media('<=tablet') {
      padding: 0 14px;
    }

    .heading {
      text-align: center;
      margin-bottom: 6rem;

      h1 {
        font-family: 'Geist', sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.125rem;
      }
    }

    .ticketdetails {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media('<=tablet') {
        display: block;
      }

      .ticketImage {
        position: relative;
        width: 60%;
        height: 100%;
        aspect-ratio: 939.5/444.17;
        border: 2px solid black;

        @include media('<=tablet') {
          width: 100%;
          display: block;
        }

        img {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
